@media (max-width: 1000px) {
  .header {
    position: fixed;
    background-color: #081c2f; }
    .header .mobile-menu {
      display: inline-block;
      margin-top: 4%;
      width: 10%; }
  .mobile-menu-nav {
    position: fixed;
    display: none;
    z-index: 1;
    top: 10%;
    width: 100%;
    background-color: #081c2f; }
    .mobile-menu-nav ul {
      -webkit-padding-start: 0;
      -moz-padding-start: 0; }
      .mobile-menu-nav ul li {
        list-style: none;
        width: 100%;
        text-align: center;
        color: white; }
        .mobile-menu-nav ul li a {
          display: block;
          text-decoration: none;
          color: white;
          padding: 1% 0; }
          .mobile-menu-nav ul li a:hover {
            color: #a45330; }
  .right-menu {
    display: none; }
  .content {
    width: 100%;
    padding-top: 100px; }
    .content #ratas {
      margin-bottom: 40%; }
      .content #ratas .ratas-efekt {
        top: 0;
        right: 38%;
        width: 28%; }
      .content #ratas .ratas-vert {
        top: 16%;
        right: 10%;
        width: 26%; }
      .content #ratas .ratas-mokome {
        top: 54%;
        right: 10%;
        width: 27%; }
      .content #ratas .ratas-tobul {
        top: 80%;
        right: 33%;
        width: 27%; }
      .content #ratas .ratas-stabil {
        top: 64%;
        right: 64%;
        width: 26%; }
      .content #ratas .ratas-rezult {
        top: 19%;
        right: 63%;
        width: 27%; }
    .content #lean .nuostoliai {
      background-position-y: 33%;
      background-size: 100%; }
    .content #lean .lean-properties {
      padding: 7% 0 0 8%; } }

@media (max-width: 800px) {
  .header .mobile-menu {
    margin-top: 5%; }
  .header .logo {
    width: 25%; }
  .content {
    width: 100%;
    float: none; }
    .content #vertinimas, .content #mokome, .content #tobuliname, .content #stabilizuojame, .content #rezultatas {
      margin-top: 10%;
      text-align: center;
      font-size: 14px; }
      .content #vertinimas .large-pic, .content #mokome .large-pic, .content #tobuliname .large-pic, .content #stabilizuojame .large-pic, .content #rezultatas .large-pic {
        display: none; }
      .content #vertinimas .small-pic, .content #mokome .small-pic, .content #tobuliname .small-pic, .content #stabilizuojame .small-pic, .content #rezultatas .small-pic {
        width: 60%;
        margin: 0 auto 15%;
        display: block; }
      .content #vertinimas .text-content, .content #mokome .text-content, .content #tobuliname .text-content, .content #stabilizuojame .text-content, .content #rezultatas .text-content {
        display: block;
        float: none;
        margin: 0 auto;
        width: 90%;
        height: 60vh; }
    .content #rezultatas ul {
      text-align: left;
      padding-left: 25%; }
    .content #lean {
      display: none; }
    .content .lean-mobile {
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 14px; }
      .content .lean-mobile h3 {
        font-size: 40px; }
      .content .lean-mobile h4 {
        margin-top: 10%; }
      .content .lean-mobile .lean-prop {
        text-align: left;
        padding-left: 30%; }
      .content .lean-mobile span {
        font-size: 14px;
        color: #a45330; }
    .content #kontaktai {
      display: none; }
    .content .kontaktai-mobile {
      display: block;
      width: 90%;
      margin: 40% auto;
      text-align: center;
      font-size: 14px; }
      .content .kontaktai-mobile img {
        width: 70%; }
      .content .kontaktai-mobile a {
        text-decoration: none;
        color: white; }
      .content .kontaktai-mobile .telefonas {
        text-decoration: underline;
        color: #a45330; }
      .content .kontaktai-mobile .linkedin {
        width: 25%; }
      .content .kontaktai-mobile form {
        transition: 1s ease; }
        .content .kontaktai-mobile form input, .content .kontaktai-mobile form textarea {
          display: block;
          background-color: #1c2b35;
          border: none;
          border-bottom: 1px solid #a45330;
          outline: none;
          width: 90%;
          height: 30px;
          margin: 0 auto 4%;
          font-size: 14px;
          text-align: center;
          color: white; }
          .content .kontaktai-mobile form input:hover, .content .kontaktai-mobile form input:active, .content .kontaktai-mobile form textarea:hover, .content .kontaktai-mobile form textarea:active {
            border-bottom: 1px solid #565a5e; }
            .content .kontaktai-mobile form input:hover::placeholder, .content .kontaktai-mobile form input:active::placeholder, .content .kontaktai-mobile form textarea:hover::placeholder, .content .kontaktai-mobile form textarea:active::placeholder {
              color: #d7d9c2; }
        .content .kontaktai-mobile form textarea {
          height: 90px;
          resize: none; }
        .content .kontaktai-mobile form button {
          display: block;
          background: white;
          border: none;
          outline: none;
          width: 130px;
          height: 30px;
          font-size: 14px;
          color: #565a5e;
          margin: 0 auto; }
    .content .right-menu nav {
      display: block; }
    .content .footer {
      height: 3%; }
      .content .footer .footer-left, .content .footer .footer-right {
        float: none;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 0; } }

@media (max-width: 600px) {
  .header .logo {
    width: 30%; }
  .header .mobile-menu .hamburger {
    width: 50%;
    padding-left: 15%;
    padding-top: 13%; }
  .content #rezultatas ul {
    padding-left: 20%; }
  .content .lean-mobile .lean-prop {
    text-align: left;
    padding-left: 14%; } }

@media (max-width: 400px) {
  .header .logo {
    width: 40%; }
  .header .mobile-menu .hamburger {
    width: 50%;
    padding-left: 15%;
    padding-top: 25%; }
  .content #rezultatas ul {
    padding-left: 15%; }
  .content .lean-mobile .lean-prop {
    text-align: left;
    padding-left: 10%; } }
